<%= @post.name %>님의 프로필

<strong>프로필 사진</strong><br/><br/>

<strong>성별:</strong>
  <%= @post.sex %><br/><br/>
  
<strong>나이:</strong>
  <%= @post.age %><br/><br/>
  
<strong>연애상태</strong>
  <%= @post.status %><br/><br/>
  
<strong>거주지</strong>
  <%= @post.home %><br/><br/>
  
<strong>직업:</strong>
  <%= @post.job %><br/><br/>
  
<strong>직장명:</strong>
  <%= @post.workplace %><br/><br/>
  
<strong>키(cm):</strong>
  <%= @post.height %><br/><br/>
  
<strong>간단소개:</strong>
  <%= @post.selfintroduction %><br/><br/>
  
<strong>종교:</strong>
  <%= @post.religion %><br/><br/>
  
<strong>흡연여부:</strong>
  <%= @post.smoking %><br/><br/>

<strong>음주정도:</strong>
  <output name="mindout" for="<%= @post.drink %>"></output><br/><br/>

<strong>연애관:</strong>
  <output name="mindout" for="<%= @post.mind %>"></output><br/><br/>
  
<strong>연락처:</strong>
  <%= @post.phone %><br/><br/>


<a href="/posts/index">마이페이지</a>

