<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top profileshownav" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/">  <img src="/img/icon/left_arrow.png" alt="" width="32px"> </a>
            <form class="col-10" action="/find_friend/result" style="width: 90%" method="GET" >
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <input type="text" name="search_word" style="width: 80%"required="true" minlength="2" value="<%=@search_word%>">
              <button type="submit" >검색</button>
            </form>
    </div>
</nav>

  <!--친구신청목록-->
<section class="page-section portfolio" id="result" style="padding-top: 150px; padding-bottom: 30px;">

    <div class="container">
    <table>
     <tbody>
      <tr>
        <td>  <h2 id="existing_friends">"<%=@search_word %>" 검색 결과(<%= @result.size %>명)</h2> </td>

        <!--<td>-->
        <!--  <div class="custom-control custom-switch" >-->
        <!--  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
          <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        <!--  <label class="custom-control-label" for="customSwitch1">솔로친구만 보기</label>-->
        <!--  </div>-->
        <!--</td>-->
      </tr>
     </tbody>
    </table>
    <br><br>

      <!-- Portfolio Grid Items -->
      <div class="row"  style="text-align: center;">

        <!-- Portfolio Item 1 -->
        <% if @result.exists?%>
          <% @result.each do |p| %>  
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#result<%=p.owner_id%>">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <i class="fas fa-plus fa-3x"></i>
                </div>
              </div>
              <p><%=p.name%>(<%=p.age%>살)</p>
              <!--<img class="img-fluid" src="img/portfolio/cabin.png" alt="">-->
              <% if p.profilepics? %>
                <%= image_tag(p.profilepics.url, class:'img-fluid profilepics', alt: "") %>
              <% else %>
                <img class="img-fluid profilepics" src="img/avataaars.svg" alt="">
              <% end %>
            </div>
          </div>
          <% end %>
        <% else %>
          아직 친구가 없네요! 친구신청을 해볼까요?
        <% end %>
    
      </div>
      <!-- /.row -->

    </div>
</section>
  <!--친구신청목록끝-->
  
    <!--친구데이터-->
    <% if @result.exists?%>
      <% @result.each do |p| %>
        <div class="portfolio-modal modal fade" id="result<%=p.owner_id%>" tabindex="-1" role="dialog" aria-labelledby="result<%=p.owner_id%>Label" aria-hidden="true">
          <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="fas fa-times"></i>
                </span>
              </button>
              <div class="modal-body text-center">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                      <!-- Portfolio Modal - Title -->
                      <h2 class="portfolio-modal-title text-secondary text-uppercase mb-3"><%=p.name%>님</h2>
                      <!-- Portfolio Modal - Image -->
                      <!--<img class="img-fluid rounded mb-5" src="img/portfolio/cabin.png" alt="">-->
                      <% if p.profilepics? %>
                        <%= image_tag(p.profilepics.url,  class:'img-fluid rounded mb-3 profilepics', alt: "") %>
                      <% else %>
                        <img class="img-fluid rounded mb-3 profilepics" src="img/avataaars.svg" alt="">
                      <% end %>
                      <!-- Portfolio Modal - Text -->
                      <p class="mb-1">저는 <%=p.age%>살 <%=p.name%>이라고 합니다.</p>
                      <p class="mb-3"><%=p.selfintroduction%></p>
                    <button class="btn btn-warning" onclick="location.href='/posts/<%=p.owner_id%>' ">
                      <i class="fa fa-user" aria-hidden="true"></i>
                      상세 프로필 보기
                    </button>
                    <% if Friend.find_by(user_id: p.owner_id, owner_id: current_user.id).nil?
                        if Friend.find_by(user_id: current_user.id, owner_id: p.owner_id).nil?
                          @buttonmsg = "친구신청"
                          @msg = Post.find_by(owner_id: p.owner_id).name+"님에게 친구 신청하시겠습니까?"
                        else
                          @buttonmsg = "친구신청취소"
                          @msg = Post.find_by(owner_id: p.owner_id).name+"님에게 친구 신청을 취소하시겠습니까?"
                        end
                      else
                          if Friend.find_by(user_id: current_user.id, owner_id: p.owner_id).nil?
                          @buttonmsg = "친구수락"
                          @msg = Post.find_by(owner_id: p.owner_id).name+"님과 친구를 맺으시겠습니까?"
                        else
                          @buttonmsg = "친구끊기"
                          @msg = Post.find_by(owner_id: p.owner_id).name+"님과 친구를 끊겠습니까?"
                        end
                      end%>
                    <button class="btn btn-success" onclick= "location.href='/friends/become_friends/<%=p.owner_id%>';return confirm('<%=@msg%>')">
                      <i class="fas fa-plus"></i>
                      <%=@buttonmsg%>
                    </button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
    <% end %>
    <!--친구데이터 끝-->
  